@use "variables";

footer {
    margin-top: 2rem;
    padding: 1rem 0rem 1rem 0rem;
    background-color: variables.$color-3;
    font-weight: 900;
    color: variables.$color-1;
    border-top: solid 0.25rem variables.$color-1;
}

.footer__mediaicon {
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
}

.footer--leftalign {
    display: flex;
    justify-content: flex-end;
}

.footer--joindre, a {
    text-decoration: none;
    color: variables.$color-1;

    & :hover {
        color: variables.$color-2
    }
}