@use "variables";

.headerNav {
    background-color: variables.$color-1;
    padding: 2rem 0rem 2rem 0rem;
    border-bottom: solid 1rem variables.$color-2;
}

.headerNav__burger {
    background-color: variables.$color-1;
}

.header__logo {
    width: 10rem;
}

.headerNav__flex {
    display: flex;
    align-items: center;
    width: 100%;
}

.headerNav__flex--logo {
    display: flex;
    align-items: center;
    width: 100%;
}

.headerNav__flex--menu {
    display: flex;
    justify-content: flex-end;
}

.btn {
    color: variables.$color-4;
    border: solid 0.25rem variables.$color-4;

    &:hover {
        color: variables.$color-1;
        background-color: variables.$color-5;
        border: solid 0.25rem variables.$color-2;
    }
    
}

.btn__active {
    color: variables.$color-1;
        background-color: variables.$color-3;
        border: solid 0.25rem variables.$color-2;
}

h1 {
    font-family: 'Satisfy', cursive;
    color: variables.$color-3;
}

.row {
    width: 100%;
}

.navbar__burger--flexbutton {
    display: flex;
    justify-content: flex-end;
    height: 3rem;
}

.navbar__burger--flex {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 2500px) {
    .navbar__general {
        display: block;
    }
    .navbar__burger {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .navbar__general {
        display: none;
    }
    .navbar__burger {
        display: block;
    }
}